<div id="natezenieIP">
    <md-card>
        <md-card-content>

            <div layout="row" layout-align="center">
                <h1>Wykres zmiany ilości kont w kwartałach</h1>
            </div>
            <div layout="row" layout-align="center">
                <md-input-container>
                    <label>Klasa:</label>
                    <md-select ng-model="logowaniaCtrl.chosen">
                        <md-option ng-repeat="state in logowaniaCtrl.chartData" value="{{state.class}}">
                            {{state.class}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="chartdiv"></div>
            <span mathjax-bind="logowaniaCtrl.latex.test"></span>
        </md-card-content>
    </md-card>
</div>